 html {
     height: 100%;
 }
 
 body {
     min-height: 100%;
 }
 
 .header-box {
     height: 50px;
     width: 100%;
 }
 
 .navbar-nav>li.active>a,
 .navbar-nav>li.active>a:focus {
     border-bottom: 3px solid deepskyblue;
     color: deepskyblue;
 }
 
 .navbar-default {
     border-radius: 0px;
     background: white;
 }
 
 img {
     height: 25px;
     
 }
 
 .header-box {
     font-size: 12px;
 }
 
 .body-box {
     width: 100px;
     height: 100%;
 }
 /*css cho thanh doc*/
 
 .nav-stacked {
     width: 60px;
     background-color: gray;
     text-align: center;
     font-size: 12px;
     color: white;
     height: inherit;
     float: left;
 }
 
 .body-box ul li .ion {
     font-size: 250%;
 }
 /*.body-box ul li a {
     padding: 20px 0px 20px 0px;
     color: white;
     margin: 0px;
 }*/
 
 .bodyboxbox {
     position: relative;
     display: block;
     padding: 20px 0px 20px 0px !important;
     color: white;
     margin: 0px;
 }
 
 .nav-tabs li a {
     border-radius: 0px;
 }
 
 .body-box ul li {
     border-bottom: 0.5px solid dimgrey;
 }
 
 .nav-tabs>li>a:hover {
     background-color: dimgrey;
     border: 0.5px solid dimgrey;
     color: white;
 }
 
 .nav-tabs>li.active>a,
 .nav-tabs>li.active>a:focus {
     background-color: dimgrey;
     border: 0.5px solid dimgrey;
     color: white;
 }
 
 span#sup {
     position: absolute;
     border: 1px solid #2A9fd8;
     background: rgba(0, 173, 255, .54);
     padding: 0.1%;
     font-size: 70%;
     border-radius: 50%;
 }
 
 .tab-content {
     float: left;
     font-size: 12px;
     padding: 10px;
 }
 
 .tab-pane {
     position: absolute;
 }
 /*css cho phan cua so controlRoom*/
 
 .box {
     position: relative;
     border-radius: 1px;
     border-top: 1px solid #d2d6de;
     margin-bottom: 5px;
     padding: 5px;
 }
 
 .box-2 {
     position: relative;
     border-radius: 1px;
     border-top: 1px solid #d2d6de;
     margin-bottom: 5px;
     padding: 0;
 }
 
 .box-0 {
     border: 1px solid #d2d6de;
 }
 
 .box-3 {
     position: relative;
     border-radius: 1px;
     border-bottom: 1px solid #d2d6de;
 }
 
 .col-md-11 {
     padding-top: 15px;
 }
 
 .col-md-1 {
     padding-top: 15px;
 }
 
 .box-01 {
     width: 0;
     height: 0;
     border-style: solid;
     border-width: 20px 20px 0 0;
     border-color: #ffb700 transparent transparent transparent;
 }
 
 .box-02 {
     width: 0;
     height: 0;
     border-style: solid;
     border-width: 20px 20px 0 0;
     border-color: #ff0022 transparent transparent transparent;
 }
 
 .box-03 {
     width: 0;
     height: 0;
     border-style: solid;
     border-width: 20px 20px 0 0;
     border-color: #0073ff transparent transparent transparent;
 }
 /*css cho phan cua so voice chat*/
 
 #style-2::-webkit-scrollbar-track {
     -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
     border-radius: 10px;
     background-color: #F5F5F5;
 }
 
 #style-2::-webkit-scrollbar {
     width: 12px;
     background-color: #F5F5F5;
 }
 
 #style-2::-webkit-scrollbar-thumb {
     border-radius: 10px;
     -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
     background-color: darkslategrey;
 }
 
 .row-voice {
     width: 400px;
     margin-left: 10px;
     margin-top: 10px;
 }
 
 .header-child-box {}
 
 .body-child-box {
     border: 1px solid lightgrey;
     margin-top: 10px;
 }
 
 .small-text {
     font-size: 12px;
 }
 
 .faint-text {
     color: #999;
 }
 
 .box-checked {
     margin-right: 5px;
     border-bottom: 1px solid lightgrey;
     margin-top: 10px;
 }
 
 .progress {
     height: 6px;
     margin-top: 10px;
     margin-left: 20px;
     margin-right: 80px;
 }
 
 .progress-bar {}
 
 .scrollbar {
     overflow-y: scroll;
     height: 200px;
     padding-left: 10px;
     border-bottom: 1px solid lightgrey;
 }
 
 .first-child-box {
     padding: 10px 0px 10px 10px;
     background-color: lightgrey;
 }
 
 .box-square {
     margin: 0px 15px 0px 10px;
     padding: 10px 0px 10px 0px;
     border-bottom: 1px solid lightgrey;
 }
 /*css cho phan cua so chat*/
 
 .box {
     position: relative;
     border-radius: 1px;
     border-top: 1px solid #d2d6de;
     margin-bottom: 5px;
     padding: 5px;
 }
 
 .box-2 {
     position: relative;
     border-radius: 1px;
     border-top: 1px solid #d2d6de;
     margin-bottom: 5px;
     padding: 0;
 }
 
 .box-0 {
     border: 1px solid #d2d6de;
 }
 
 .box-3 {
     position: relative;
     border-radius: 1px;
     border-bottom: 1px solid #d2d6de;
 }
 
 .col-md-11 {
     padding-top: 15px;
 }
 
 .col-md-1 {
     padding-top: 15px;
 }
 
 .circle {
     width: 10px;
     height: 10px;
     background: #1E90FF;
     text-align: center;
     padding: 5px;
     color: #fff;
     -moz-border-radius: 10px;
     -webkit-border-radius: 10px;
     border-radius: 10px;
 }
 /* event css */
 
 .container {}
 
 .modal {}
 
 table {
     font-size: 12px;
     width: 100%;
 }
 
 .modal table {
     margin: 10px 0 10px 0;
 }
 
 .modal table td {
     padding-left: 10px;
 }
 
 .cot-1 {
     padding: 5px 20px 5px 10px;
     width: 40%;
 }
 
 table td i {
     padding-left: 14px;
 }
 
 td {
     border: 1px solid dimgrey;
 }
 
 table td .btn {
     border-radius: 5px;
     width: 90px;
     height: 25px;
     margin-left: 12px;
     text-align: center;
 }
 
 .box-format {
     position: relative;
     border-radius: 1px;
     margin-bottom: 2px;
     padding: 0;
 }
 
 #box-format-7 {
     width: 0;
     height: 0;
     border-style: solid;
     border-width: 20px 20px 0 0;
     border-color: #ff144a transparent transparent transparent;
 }
 
 #box-format-6 {
     width: 0;
     height: 0;
     border-style: solid;
     border-width: 20px 20px 0 0;
     border-color: darkblue transparent transparent transparent;
 }
 
 #box-format-5 {
     width: 0;
     height: 0;
     border-style: solid;
     border-width: 20px 20px 0 0;
     border-color: #a5682a transparent transparent transparent;
 }
 
 #box-format-4 {
     width: 0;
     height: 0;
     border-style: solid;
     border-width: 20px 20px 0 0;
     border-color: rgb(244, 219, 96) transparent transparent transparent;
 }
 
 #box-format-3 {
     width: 0;
     height: 0;
     border-style: solid;
     border-width: 20px 20px 0 0;
     border-color: yellow transparent transparent transparent;
 }
 
 #box-format-2 {
     width: 0;
     height: 0;
     border-style: solid;
     border-width: 20px 20px 0 0;
     border-color: yellowgreen transparent transparent transparent;
 }
 
 #box-format-1 {
     width: 0;
     height: 0;
     border-style: solid;
     border-width: 20px 20px 0 0;
     border-color: #0073ff transparent transparent transparent;
 }
 
 .row table td .fa {
     padding-left: 12px;
 }
 
 .eventName {
     color: #999;
     padding-left: 10px;
 }
 
 .modal .modal-content table td {
     border: 1px solid rgba(105, 105, 105, 0.23);
 }
 
 #advance-level .row {
     margin: 0px;
 }
 
 .col-md-7,
 .col-md-5 {
     border: 0.5px solid whitesmoke;
     padding-right: 0px;
     padding-left: 0px;
 }
 
 .col-md-5 .box-format {
     border-top: 0.5px solid lightgrey;
     padding-left: 15px;
     background-color: whitesmoke;
 }
 
 h5 {
     padding-left: 15px;
 }
 
 .tieude {
     padding-top: 10px;
     padding-bottom: 5px;
     padding-left: 5px;
 }
 
 .tieude .fa {
     font-size: 150%;
 }
 
 span.name1 {
     color: deepskyblue;
     font-weight: bold;
     font-size: 16px;
     padding-left: 5px;
 }
 
 span.name2 {
     color: grey;
 }
 
 .box-format .btn {
     border-radius: 0px;
     margin-top: 10px;
 }
 
 .map {
     background-color: gray;
     width: 438px;
     height: 438px;
 }
 /*.basic-advance {
     width: 60px;
     text-align: center;
     color: deepskyblue;
 }
 */
 /*.basic-advance,
 .basic-advance:focus,
 .basic-advance:hover {
     color: #555;
     cursor: pointer;
     background-color: #fff;
     border: 1px solid #ddd;
     border-bottom-color: transparent;
     text-decoration: none;
 }*/