* {
    box-sizing: border-box;
}

html,
.body {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5)
}

.video-container {
    display: flex;
    position: relative;
    align-items: center;
    padding: 10px 15px;
    border: 1px solid transparent;
    cursor: pointer;
}

.container-fluid {
    padding-top: 30px;
}

.video-container:hover {
    border: 1px solid rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.1);
}

.video-preview {
    background: rgba(0, 0, 0, 0.8);
    border-radius: 3px;
    flex: 0 1 100px;
}

.video-info {
    padding: 0px 15px;
    color: rgba(255, 255, 255, 0.5);
}

.video-info h5,
.video-info b {
    color: white;
}

.video-live {
    position: absolute;
    top: 10px;
    right: 0px;
    background: red;
    color: white;
    border-radius: 5px;
    padding: 3px 15px;
}

.video-player-container {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none;
    background: rgba(0, 0, 0, 0.9);
}

.video-list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 1 100px;
}

.video-list .video-item {
    margin: 0 10px;
}

.video-list-content {
    flex: 0;
    max-width: 700px;
    overflow-x: scroll;
}

.shows {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row;
    flex: 1;
}

.lelf-button1,
.right-button1 {
    align-items: center;
    justify-content: center;
}

.video-display {
    flex: 0 1 640px;
}

.flex {
    display: flex;
}

.flex1 {
    flex-grow: 1;
}

.close1 {
    position: absolute;
    top: 0px;
    right: 10px;
    cursor: pointer;
    color: white;
}