.image-container {
    position: relative;
    display: flex;
    align-items: center;
    padding: 10px 15px;
    border: 1px solid transparent;
    cursor: pointer;
}

.container-fluid {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
}

.image-body-close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    color: white;
}

.image-row {
    flex: 1;
}

.image-container:hover,
.image-container:focus {
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 3px;
    background: rgba(255, 255, 255, 0.1);
}

.image-preview {
    background: rgba(0, 0, 0, 0.8);
    border-radius: 3px;
    flex: 0 1 97px;
}

.body {
    background-color: rgba(0, 0, 0, 0.8);
}

.image-info {
    padding: 0 15px;
    color: rgba(255, 255, 255, 0.4);
    flex: 1;
}

.image-info h5,
.image-info b {
    color: white;
}

.image-live {
    position: absolute;
    top: 0;
    right: 0;
    padding: 3px 10px;
    background: red;
    color: white;
}

.image {
    width: 97px;
    height: 97px;
}

.image-body {
    background-color: #333333;
}

.image-show-container {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none;
    background: rgba(0, 0, 0, 0.9);
    margin-bottom: 50px;
}

.image-show-container .show {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.image-show-close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    color: white;
    /*flex: 0 1 10px;*/
}

.image-show-container .shows {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row;
}

.image-slide {
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 1 650px;
}

.image-button-left,
.image-button-right {
    align-items: center;
    justify-content: center;
    flex: 1;
}

.image-list .image-item {
    margin: 0 10px;
}

.shows {
    /*padding-top: 50px;*/
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row;
    flex: 1;
}

.shows .lelf-button,
.shows .right-button {
    align-items: center;
    justify-content: center;
    flex: 1;
    text-align: center;
}

.shows .image-display {
    flex: 0 1 640px;
}

.flex {
    display: flex;
}

.flex1 {
    flex-grow: 1;
}