<div class="row" style="padding:10px">
                        <div class="col-md-10" style="padding-top:5px;">
                            <form style="color: blueviolet">
                                <input type="checkbox"> <b>EVENT REQUEST</b>
                            </form>
                        </div>
                        <div class="col-md-1 dropdown" style="padding-top:5px;">
                            <i class="fa fa-share-alt dropdown-toggle" data-toggle="dropdown">
                            </i>
                            <div class="dropdown-menu box-0" style="color:#d2d6de">
                                <div class="box-3" style="padding-left: 10px;">
                                    <i class="fa fa-angle-right"></i><b> WCR</b>
                                </div>

                                <div style="padding-left: 10px;">
                                    <i class="fa fa-angle-right"></i><b> DCR</b>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-1" style="padding-top:5px;">
                            <i class="fa fa-trash-o">
                            </i>
                        </div>
                    </div>